 
 {% load static %}
 
 {% include 'header.html' %}

 <link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

  {% if messages %}
      {% for message in messages %}
        <div style="background-color: #fce4ec;
          color: #8b1e3f;
          border-bottom: 1px solid #e5a9bb;
          border: 1px solid #f5c2c7;
          padding: 12px 20px;
          font-size: 15px;
          text-align: center;
          font-weight: 600;
          box-sizing: border-box;
          width: 100%;">
          {{ message }}
        </div>
       {% endfor %}
    {% endif %}


<div class="login-container">
    <h2>Login</h2>
    <p class="breadcrumb">Home > Login</p>

    <div class="login-wrapper">
      
        <div class="login-left">
            <img src="{% static 'images/b-drop.jpg' %}" alt="Blood Drop">
            <h3>Welcome Back!</h3>
            <p>Login to access your dashboard <br> and manage your blood donation activities.</p>
        </div>


        <div class="login-right">
            {% if error %}<p class="error">{{ error }}</p>{% endif %}
            <form method="POST" action="{% url 'admin_panel:login' %}">
                {% csrf_token %}
                
                {% comment %} ADD {% endcomment %}
                {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <input type="text" name="username_or_email" placeholder="Enter username or Email" required>
                <input type="password" name="password" placeholder=" Enter Password" required>
                <div class="form-row">
                    <label><input type="checkbox" name="remember"> Remember Me</label>
                    <a href="/forgot-password/">Forgot Password?</a>
                </div>
                
                <button type="submit" class="btn-submit">Login</button>
                
                <p class="register-link">Don't have an account? <a href="/register/">Register</a></p>
            </form>
        </div>
    </div>
</div>

{% include 'footer.html' %}