{% load static %}

<header>
    <div class="logo">
        <i class="fa-solid fa-heart-circle-plus"></i>
        <h2>Blood Donation</h2>
    </div>

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'doner' %}">Find Donor</a></li>
            <li><a href="#">Blood Request</a></li>
            <li><a href="#"></a></li>
        </ul>
    </nav>

    <div class="nav-btn">
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}" class="register">Register</a>
    </div>
</header>